h1{
    font-size: 2.5em;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    color: #333;
    text-align: center;
    
}
*{
    font-size: larger;
    font-weight: bold;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th,td{
    border:1px solid #ccc;
    padding: 10px;
    text-align: center;
}
th{
    background-color: #f2f2f2;
}
div{
    width:100vw;
}

